<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>应用门户-关于</title>
    <link rel="icon" href="images/manageLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/index.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="layui/layui.js"></script>
    <script type="text/javascript" src="js/firm.js"></script>
</head>
<body>
<!-- nav部分 -->
<div class="nav">
    <div class="layui-container">
        <!-- 公司logo -->
        <div class="nav-logo">
            <a href="index">
                <img src="images/ax.png" style="height: 55px">
                <!--<img src="images/logo.png" alt="应用门户-首页">-->
                <p class="layui-text"></p>
            </a>
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="index">首页</a></li>
                <li class="layui-nav-item"><a href="about">关于</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- banner部分 -->
<div class="banner about">
    <div class="title">
        <p>关于门户</p>
        <p class="en">About Portal</p>
    </div>
</div>
<!-- main部分 -->
<div class="main-about">
    <div class="layui-container">
        <div class="layui-row">
            <ul class="aboutab">
                <li class="layui-this">集成门户介绍</li>
            </ul>
            <div class="tabIntro">
                <div class="content">
                    <div class="layui-inline img"><img src="images/us_img2.jpg"></div>
                    <div class="layui-inline panel">
                        <p>通过建设运维中心应用集成门户，您可以点击首页应用直接访问到所需的运维管理工具，一站式访问高效便捷简化使用，解决以往为繁琐反复访问运维工具而苦恼，提升工作效率。</p>
                    </div>
                </div>
                <div class="content">
                    <div class="layui-inline panel p_block">
                        <p>应用集成门户具备后台管理系统加持，可对首页运维管理工具进行个性化定制服务，集成门户动态展示，实现门户网站+后台管理一体化，集中管理集中控制。</p>
                    </div>
                    <div class="layui-inline img"><img src="images/us_img3.jpg"></div>
                    <!--
                              <p class="p_hidden">如果眼下还是一团零星之火，那运筹帷幄之后，迎面东风，就是一场烈焰燎原吧，那必定会是一番尽情的燃烧。待，秋风萧瑟时，散作满天星辰，你看那四季轮回，正是Layui不灭的执念。</p>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer部分 -->
<div class="footer">
    <div class="layui-container">
        <p class="footer-web">
            <a>合作伙伴</a>
            <a>系统部</a>
            <a>运维部</a>
        </p>
        <div class="layui-row footer-contact">
            <div class="layui-col-sm2 layui-col-lg1"></div>
            <div class="layui-col-sm10 layui-col-lg11">
                <div class="layui-row">
                    <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
                        <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;176-0167-5419&nbsp;&nbsp;(9:00-17:00)
                        </p>
                        <p class="contact-bottom"><i
                                class="layui-icon layui-icon-home"></i>&nbsp;zhangshurui@anicert.cn</span></p>
                    </div>
                    <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
                        <p class="contact-top"><span class="right">版权归建设运维中心所有</span></p>
                        <p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2019-2020&nbsp;&nbsp;ICP&nbsp;备******号</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>